#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/pihas/drone-swarm-challenge-2026/launchers/ubuntu-xfce-pi5/launch-buttons.sh
Path=/home/pihas/drone-swarm-challenge-2026/
Name=Mach Mind - Buttons
Comment=Start physical button handler ROS2 publisher
Icon=/home/pihas/drone-swarm-challenge-2026/launchers/GCS_Buttons_ico.png
