[Desktop Entry]
Version=1.0
Type=Application
Name=Mach Mind Vision GCS
Comment=Start ArUco detection node for all drones
Exec=bash /home/machmind/drone-swarm-challenge-2026/ground-station-software/vision/start_vision_gcs.sh
Icon=/home/machmind/drone-swarm-challenge-2026/launchers/vision_ico.png
Terminal=false
Categories=Application;
StartupNotify=false
