build/
managed_components/
sdkconfig
dependencies.lock

# ESP32S3 subfolder build artefacts
ESP32S3/build/
ESP32S3/sdkconfig
ESP32S3/dependencies.lock

# ESP32P4 subfolder build artefacts
ESP32P4/build/
ESP32P4/managed_components/
ESP32P4/sdkconfig
ESP32P4/dependencies.lock
