#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/pihas/drone-swarm-challenge-2026/launchers/ubuntu-gnome-pc/launch-idf-docker.sh
Path=/home/pihas/drone-swarm-challenge-2026/drone-firmware/
Name=IDE — Node v1.0
Comment=Open ESP-IDF Docker development environment
Icon=/home/pihas/drone-swarm-challenge-2026/launchers/flash_ico.png
